[submodule "frontend"]
    path = frontend
    url = git@github.com:sashkaocho/lightspeed-test-task-front.git
[submodule "backend"]
    path = backend
    url = git@github.com:sashkaocho/lightspeed-test-task-back.git
