[submodule "lightspeed-test-task-front"]
	path = lightspeed-test-task-front
	url = git@github.com:sashkaocho/lightspeed-test-task-front.git
[submodule "lightspeed-test-task-back"]
	path = lightspeed-test-task-back
	url = git@github.com:sashkaocho/lightspeed-test-task-back.git
